@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 227 10% 10%;
    --foreground: 227 0% 90%;
    --card: 227 0% 10%;
    --card-foreground: 227 0% 90%;
    --popover: 227 10% 5%;
    --popover-foreground: 227 0% 90%;
    --primary: 227 0% 84%;
    --primary-foreground: 0 0% 0%;
    --secondary: 227 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 189 10% 20%;
    --muted-foreground: 227 0% 60%;
    --accent: 189 10% 20%;
    --accent-foreground: 227 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 227 0% 90%;
    --border: 227 20% 20%;
    --input: 227 20% 20%;
    --ring: 227 0% 84%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
